form .invalid-field{
    color: #dc3545;
}

.section{
    padding-top: 50px
}

h2{
    text-align: center;
}

.show{
    display: block;
}

.hide {
    display: none;
}

.logo {
    max-width: 200px;
}

.cover-container {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;

}

.cover-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(217, 217, 217, 0) 136.53%);
} 

.title-container {
    position: relative;
    z-index: 10;
    color: white;
}

.user-detail {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.user-detail img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.avatars {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatars img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 6px rgba(0, 122, 153, 0.534);
    cursor: pointer;
    transition: transform .3s ease-in-out;
    animation: avatarAnimation .5s  ease-in-out;
}

.avatars img:hover{
    transform: translateY(-20px) scale(1.1);
}

.avatar-output img{
    cursor: move;
}

.selected {
    display: none;
 }

.error-message {
    color: #dc3545;
}

.infoText {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #05bbcf;
}

.user-avatar {
    display:flex;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.alert-room{
    padding: 20px;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px 30px 0 0;
    max-width: 700px;
    transition: transform 3s ease-in-out;
}

.success{
    background-color: #62eba6;
}

.unsuccess{
    background-color: #e9606e;
}

.animatedBall{
    background-color: #05bbcf;
    height:50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}


@keyframes avatarAnimation{
    0%{
        transform: translateY(0) scale(.2);
    }
    100%{
        transform: translateY(0) scale(1);
    }
}
.content-hidden {
    display:none;
}
